<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css" />

</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Ad CRUD</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li class="active"><a href="/users/create">Create a user</a></li>
                <li class="active"><a href="/advertisements/create">Create an advert</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    <h2>Claims list : </h2>

    <table class="table table-bordered">
        <tr>
            <th>User Id:  </th>
            <th>Username </th>
            <th>Surname  </th>
            <th>Age  </th>

        </tr>

        <tr th:each="user : ${users}">
            <td th:text="${user.userId}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.surname}"></td>
            <td th:text="${user.age}"></td>

            <td><a th:href="${'/advertisements/edit/' + user.userId}" class="btn btn-default">Edit</a></td>
            <td><a th:href="${'/advertisements/delete/' + user.userId}" class="btn btn-danger">Delete</a></td>
        </tr>
    </table>

</div>

<!-- /.container -->
<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>